IO_LOC  "i_parity" 80;
IO_PORT "i_parity" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "i_h0" 63;
IO_PORT "i_h0" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "i_h1" 86;
IO_PORT "i_h1" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "i_h2" 85;
IO_PORT "i_h2" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "i_h3" 84;
IO_PORT "i_h3" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "i_h4" 83;
IO_PORT "i_h4" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "i_h5" 82;
IO_PORT "i_h5" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "i_h6" 81;
IO_PORT "i_h6" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "i_ctrl" 69;
IO_PORT "i_ctrl" IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "o_led0" 38;
IO_PORT "o_led0" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "o_led1" 39;
IO_PORT "o_led1" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "o_led2" 27;
IO_PORT "o_led2" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "o_led3" 30;
IO_PORT "o_led3" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "o_seg_a" 34;
IO_PORT "o_seg_a" IO_TYPE=LVCMOS18;

IO_LOC  "o_seg_b" 40;
IO_PORT "o_seg_b" IO_TYPE=LVCMOS18;

IO_LOC  "o_seg_c" 41;
IO_PORT "o_seg_c" IO_TYPE=LVCMOS18;

IO_LOC  "o_seg_d" 51;
IO_PORT "o_seg_d" IO_TYPE=LVCMOS18;

IO_LOC  "o_seg_e" 53;
IO_PORT "o_seg_e" IO_TYPE=LVCMOS18;

IO_LOC  "o_seg_f" 55;
IO_PORT "o_seg_f" IO_TYPE=LVCMOS18;

IO_LOC  "o_seg_g" 57;
IO_PORT "o_seg_g" IO_TYPE=LVCMOS18;
