IO_LOC  "row[0]" 32;
IO_PORT "row[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "row[1]" 31;
IO_PORT "row[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "row[2]" 49;
IO_PORT "row[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "row[3]" 48;
IO_PORT "row[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "col[0]" 70;
IO_PORT "col[0]" IO_TYPE=LVCMOS33;

IO_LOC  "col[1]" 71;
IO_PORT "col[1]" IO_TYPE=LVCMOS33;

IO_LOC  "col[2]" 72;
IO_PORT "col[2]" IO_TYPE=LVCMOS33;

IO_LOC  "col[3]" 73;
IO_PORT "col[3]" IO_TYPE=LVCMOS33;

IO_LOC  "seg[6]" 74;
IO_PORT "seg[6]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[5]" 75;
IO_PORT "seg[5]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[4]" 36;
IO_PORT "seg[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[3]" 38;
IO_PORT "seg[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[2]" 37;
IO_PORT "seg[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[1]" 76;
IO_PORT "seg[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "seg[0]" 77;
IO_PORT "seg[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "anode[0]" 39;
IO_PORT "anode[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "anode[1]" 25;
IO_PORT "anode[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "anode[2]" 26;
IO_PORT "anode[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "anode[3]" 27;
IO_PORT "anode[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33;
